<h2>Editar Usuario</h2>
<form [formGroup]="editForm" (ngSubmit)="saveUser()">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name" />
    <mat-error *ngIf="editForm.get('name')?.hasError('required')"
      >Name is required</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email" />
    <mat-error *ngIf="editForm.get('email')?.hasError('required')"
      >Email is required</mat-error
    >
    <mat-error *ngIf="editForm.get('email')?.hasError('email')"
      >Invalid email address</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="gender" placeholder="Gender" />
    <mat-error *ngIf="editForm.get('gender')?.hasError('required')"
      >Gender is required</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="status" placeholder="Status" />
    <mat-error *ngIf="editForm.get('status')?.hasError('required')"
      >Status is required</mat-error
    >
  </mat-form-field>
  <div class="buttons">
    <button mat-button type="button" (click)="closeDialog()">Cancelar</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (onSubmit)="saveUser()"
    >
      Salvar
    </button>
  </div>
</form>
