<h2>Criar Usuario</h2>
<form [formGroup]="registerForm" (ngSubmit)="saveUser()">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name" />
    <mat-error *ngIf="registerForm.get('name')?.hasError('required')"
      >Name is required</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email" />
    <mat-error *ngIf="registerForm.get('email')?.hasError('required')"
      >Email is required</mat-error
    >
    <mat-error *ngIf="registerForm.get('email')?.hasError('email')"
      >Invalid email address</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="gender" placeholder="Gender">
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
    <mat-error *ngIf="registerForm.get('gender')?.hasError('required')"
      >Gender is required</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="status" placeholder="Status">
      <mat-option value="active">Active</mat-option>
      <mat-option value="inactive">Inactive</mat-option>
    </mat-select>
    <mat-error *ngIf="registerForm.get('status')?.hasError('required')"
      >Status is required</mat-error
    >
  </mat-form-field>
</form>
<div class="buttons">
  <button mat-raised-button color="primary" type="submit" (click)="saveUser()">
    Salvar
  </button>
</div>
