<div class="posts-content">
  <h1>Lista de Posts</h1>
  <div class="search-field">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="searchQuery"
        (keyup)="applyFilter()"
        placeholder="Digite para filtrar.."
      />
    </mat-form-field>
  </div>
  <div *ngIf="filteredPosts.length > 0; else noPostsFound">
    <div *ngFor="let post of filteredPosts">
      <div class="post">
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        <p *ngIf="userNames[post.user_id] !== undefined">
          <b>Author:</b> {{ userNames[post.user_id] }}
        </p>
        <!-- Button for Actions -->
        <div class="button-container">
          <button mat-icon-button [matMenuTriggerFor]="actionMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionMenu="matMenu">
            <button mat-menu-item (click)="editPost()">Editar</button>
            <button mat-menu-item (click)="deletePost()">Deletar</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noPostsFound>
    <p>No posts found.</p>
  </ng-template>
</div>
